.laps {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;

  @media (max-width: 768px) {
    font-size: 20px;
  }

  &__item {
    width: 300px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      width: 200px;
    }

    animation-name: move-lap;
    animation-duration: 0.5s;
  }

  &__number {
    margin-right: 40px;
    color: gray;
  }
}

@keyframes move-lap {
  0%{
    margin-left: 50px;
  }
  100%{
    margin-left: 0px;
  }
}